@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Inter", sans-serif;
    @apply bg-[#fcfcfc];
  }

  :root.dark {
    @apply bg-[#1C1C1C];
  }

  @supports (font-variation-settings: normal) {
    :root {
      font-family: "Inter var", sans-serif;
    }
  }
}

@layer components {
  .post-link {
    @apply border-b text-gray-600 border-gray-300
      transition-[border-color]
      hover:border-gray-600
      dark:text-white dark:border-gray-500;
  }
}
