.pure-ui-demo {
  vertical-align: top;
  padding: 15px 0 0;
  text-align: left;
  position: relative;
}

#pure-ui-demo1.loaded {
  padding-bottom: 10px;
}

#pure-ui-demo1.loaded::after {
  content: "Hint: click [+] to edit!";
  font-size: 11px;
  position: absolute;
  left: 0px;
  bottom: 15px;
  color: #999;
}

#pure-ui-demo2 {
  max-width: 600px;
  margin: auto;
}

@media (max-width: 500px) {
  #pure-ui-demo1 {
    text-align: center;
  }

  #pure-ui-demo1 .t {
    text-align: left;
  }

  #pure-ui-demo1 .options {
    text-align: left;
  }

  #pure-ui-demo1 .board {
    margin-right: 0;
  }

  #pure-ui-demo1.loaded::after {
    content: "Hint: tap [+] to edit!";
    position: static;
  }
}
