.container {
  background: var(--tweet-bg-color);
  border: var(--tweet-border);
  border-radius: 5px;
  margin: var(--container-margin);
}
.content {
  padding: 1.25rem 1.25rem 0.625rem 1.25rem;
}
.footer {
  height: 2.5rem;
  padding: 0.625rem 1.25rem;
  border-top: var(--tweet-border);
}
