.container {
  border: var(--tweet-border);
  border-radius: 5px;
  margin: 1.5rem 0;
}
.content {
  padding: 1.25rem 1.25rem 0.625rem 1.25rem;
}
.footer {
  height: 2.5rem;
  padding: 0.625rem 1.25rem;
  border-top: var(--tweet-border);
}
