name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 9
    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'pnpm'
    - name: Install dependencies
      run: pnpm install
    - name: Cache Next.js build
      uses: actions/cache@v3
      with:
        path: .next/cache
        key: ${{ runner.os }}-nextjs-cache-${{ hashFiles('**/*') }}
        restore-keys: |
          ${{ runner.os }}-nextjs-cache-
    - name: Build Next.js
      env:
        UPSTASH_REDIS_REST_TOKEN: ${{ secrets.UPSTASH_REDIS_REST_TOKEN }}
      run: pnpm run build
