/* generic resets so that we inherit from the parent */
.tweet .next-tweet-theme {
  /* margin is handled by our wrappers */
  --tweet-container-margin: 0;
  --tweet-font-family: inherit;
  --tweet-font-color: inherit;

  /* light colors override */
  --tweet-bg-color-hover: --tweet-bg-color;
  --tweet-color-blue-secondary: theme("colors.gray.600");
  --tweet-color-blue-secondary-hover: theme("colors.gray.100");
  --tweet-font-color-secondary: theme("colors.gray.500");
}

.dark .tweet .next-tweet-theme {
  --tweet-bg-color: #222;
  --tweet-bg-color-hover: #222;
  --tweet-border: 1px solid #333;
  --tweet-color-blue-secondary: theme("colors.white");
  --tweet-color-blue-secondary-hover: #333;
  --tweet-font-color-secondary: theme("colors.gray.400");
}

.tweet .next-tweet-theme p a {
  /* TODO: figure out a way to reuse this with `a.tsx` so that we are
   * not repeating stuff that we'll have to manually keep in sync */
  @apply border-b transition-[border-color] border-gray-300 hover:border-gray-600;
}

.dark .tweet .next-tweet-theme p a {
  /* TODO: figure out a way to reuse this with `a.tsx` so that we are
   * not repeating stuff that we'll have to manually keep in sync */
  @apply text-white border-gray-500 hover:border-white;
}

.tweet .next-tweet-theme p {
  font-size: inherit;
}

.tweet .next-tweet-theme p a:hover {
  text-decoration: none;
}
